<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="eintsien.css">
</head>
<body>

<div class="header">
  	<h1>einStein</h1>
  	<p>Die wunderbare Welt der Steine</p>
</div>

<div class="topnav">
  	<a href="#">Steine</a>
  	<a href="#">Orte</a>
  	<a href="#">Deutschland</a>
  	<a href="#">Minecraft</a>
</div>

<div class="row">
  	<div class="leftcolumn">
    		<div class="card">
      		<h2>Steine sind toll!!!</h2>
     	 	<div class="fakeimg" style="height:200px;">Image</div>
      		<p> Steine ... das Fundament der Erde. Wenn man ganz bestimmte Steine besitzt, ist man STEINreich xD</p>
      		<p>Ein paar Fun Facts:</p>
      		<p>1. Es gibt große Steine und kleine Steine.</p>
      		<p>2. Obwohl Steine nur äußerst mühsam steinmal lieb gewonnene Positionen verlassen, sind sie durchaus in der Lage, zu einer Steinigung zu kommen. Es ist auf jeden Fall immer ein steiniger Weg dorthin.</p>
		<p>3. Steine sind auch zum Verzehr geeignet, z.B. Steinpilze, die meisten eignen sich allerdings nicht zum Abnehmen (Dominosteine, Backsteine).</p>
		<p>4. Scharfe Steine sind gut zur Selbstverteidigung... oder zur Abwehr gegen nervige Personen...</p>
    	</div>
    	<div class="card">
      		<h2>Warum Steine?</h2>
      		<div class="fakeimg" style="height:200px;">Image</div>
      		<p>Als motivierte Steinliebhaber und Steinsammler haben wir uns für unser Informatik-Projekt entschieden eine Datenbank über Steine zu machen.</p>
      		<p> Wir bieten euch hier eine Webseite bzw. Datenbank über Steine an. Bisher 157 Steine und diese Anzahl wächst stetig... Benutzer haben die Möglichkeit selber Informationen über Steine hinzuzufügen.</p>
		<p> Viel Spaß beim Stöbern!!!</p>
    	</div>
  </div>
  <div class="rightcolumn">
    	<div class="card">
      		<h2>About Us</h2>
      		<div class="fakeimg" style="height:100px;">Image</div>
      		<p>Halloooooo!!!</p>
      		<p>Wir sind Solvej, Lasse und Noémi und wir haben diese Website über Steine erstellt!</p>
    	</div>
    	<div class="card">
     	 	<h3>Noch mehr Steine!!!!!!!!!!</h3>
      		<div class="fakeimg"><p>Image</p></div>
      		<div class="fakeimg"><p>Image</p></div>
      		<div class="fakeimg"><p>Image</p></div>
    	</div>
    	<div class="card">
      		<h3>Rock n' Roll</h3>
      		<p>Abonniert die Steine-Datenbank!</p>
    	</div>
  	</div>
</div>

<div class="footer">
  <h2>Dies ist nur ein Informatik-Projek, pls don't hate us...</h2>
</div>

</body>
</html>


