<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/einstein.css') }}" />
</head>
<body>

<div class="header">
  	<div><h1>einStein</h1>
		<p>Die wunderbare Welt der Steine</p></div>
</div>
<nav class="topnav">
	<h1><a href="{{ url_for('einStein') }}">Startseite</a></h1>
	<ul>
		<li><a href ="{{ url_for('steinetabelle') }}"> Steine</a></li>
		<li><a href ="{{ url_for('ortetabelle') }}"> Orte</a></li>
		<li><a href ="{{ url_for('deutschlandtabelle') }}"> Deutschland</a></li>
		<li><a href ="{{ url_for('minetab') }}"> minecraft</a></li>
	</ul>
</nav>
<div class="row">
  	<div class="leftcolumn">
    		<div class="card">
      		<h2>Sooooo viele Steine!!!!!</h2>
      		<h3>Filter: {{ searchString }}, {{ foundsets }} Datensätze gefunden</h3>
    </div>
	<form action="/steinetabelle?searchString" method"post">
		<input type="text" id="searchString" name="searchString"><br>
		<button type="submit">Suchen</button>
	</form>
	<table class="table">
		<tr class="table_header">
			{% for header in headings %}
			<th class="table_cell">{{ header }}</th>
			{% endfor %}
		</tr>
			{% for row in stonedata %}
			<tr class="table_row">
				{% for cell in row[0] %}
					<td class="table_cell">{{ cell }}</td>
				{% endfor %}
				<td class="table_cell"><img src="static/img/{{ row[1] }}" alt="{{ row[2] }}" width="50" height="50" class="rounded-img"></td>
			
			</tr>
		{% endfor %}
	</table>
	</div>
    <div class="rightcolumn">
    	    <div class="card">
      		<h2>About Us</h2>
      		<img src="static/img/ein33Stein.jpg" alt="Herzsteinchen" width="300" height="150" class="rounded-img">
      		<p>Halloooooo!!!</p>
      		<p>Wir sind Solvej, Lasse und Noémi und wir haben diese Website über Steine erstellt!</p>
    	</div>
    	<div class="card">
     	 	<h3>Noch mehr Steine!!!!!!!!!!</h3>
    	</div>
    	<div class="card">
      		<h3>Rock n' Roll</h3>
      		<p>Wollt Ihr etwas hinzufügen?</p>
			  <form action="/add_stones" methods=["GET"]>
            <div>
            <button type="submit">Ja ich will</button>
        </form>
    	</div>
  	</div>
</div>
<div class="footer">
  <h2>Dies ist nur ein Informatik-Projek, pls don't hate us...</h2>
</div>
</body>
</html>